<a href="https://colab.research.google.com/github/SAULIZA/Proyecto/blob/main/Proyecto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto2 - Parte1(base)
El segundo proyecto tendrá más libertad que el primero. Esto es porque queremos que tengan un proyecto en sus portafolios que les interese o se relacione con la industria en la que quieren trabajar.

La tarea para esta semana es proponer dos posibles conjuntos de datos que les gustaría trabajar para el proyecto 2.  

Escogerán el conjunto de datos de primera opción, y un conjunto de datos de reserva en caso de que el primero propuesto no se apruebe.  

Estos datos pueden proceder de cualquier fuente y ser sobre cualquier tema con estas limitaciones:

* los datos deben estar disponibles para su uso (es su responsabilidad garantizar que la licencia indique que pueden utilizarlos)
* los datos deben ser adecuados para un ambiente profesional
* los datos NO deben contener información personal
* los datos NO deben ser de un conjunto de datos usados en alguna tarea o clase del curso

Asegúrense de seleccionar un conjunto de datos con el que sea razonable trabajar en el tiempo que nos queda. Piensen qué preguntas podrían responder con el conjunto de datos que seleccionen. 

Deben proponer dos conjuntos de datos que tengan cada uno un componente de aprendizaje supervisado. Pueden elegir un problema de regresión o clasificación para cada conjunto de datos propuesto.

**Para esta tarea:**

Creen un cuaderno de Colab donde hayan subido y mostrado el .head() de cada uno de los conjuntos de datos.  Para cada uno de los conjuntos de datos propuestos, respondan las siguientes preguntas:

## Conjunto de datos 1: defunción fetal y nacimientos

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

### 1) Fuente de datos

* La fuente de los datos del censo fueron adquiridas del INEC Ecuador en cifras (https://www.ecuadorencifras.gob.ec/base-de-datos-censo-de-poblacion-y-vivienda/)

In [27]:
#Datos defunciones fetales
df1_1 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/fetales_2005.dat",sep='\t')
df1_2 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/fetales_2006.dat",sep='\t')
df1_3 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/fetales_2007.dat",sep='\t')
df1_4 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/EDF2008NIVNAC.dat",sep='\t')
df1_5 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/EDF2009NIVNAC.dat",sep='\t')
df1_6 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defuncion_fetal/EDF2010.dat",sep='\t')

In [28]:
#Unión de datos de las defunciones fetales
df_defunciones = pd.concat([df1_1, df1_2, df1_3, df1_4, df1_5,df1_6])

In [33]:
df_defunciones.head() #informacion del conjunto de datos de defunción fetal

,COD_APL_,COD_PROV,COD_CANT,COD_PARR,COD_ANIO,MES_REGI,ACT_INSC,COD_SEXO,ANIO_OCU,MES_OCUR,...,COD_TIP_,COD_SOL_,REGIONF,GEDADA,GSEMGEST,COD_APL,COD_ASI,V23_A,V27_A,V29_A
0,EDF,1,1,50,2005,1,1,1,2005,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EDF,1,1,50,2005,1,2,1,2005,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EDF,1,1,50,2005,1,3,1,2005,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EDF,1,1,50,2005,1,4,1,2005,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EDF,1,1,50,2005,1,5,1,2005,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#datos nacimientos
df1_1n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/nacimientos_2005.dat",sep='\t')
df1_2n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/nacimientos_2006.dat",sep='\t')
df1_3n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/nacimientos_2007.dat",sep='\t')
df1_4n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ena2008n.dat",sep='\t')
df1_5n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/Nacimientos_2009_SPSS.dat",sep='\t')
df1_6n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/Base_Nacidos_Vivos_año_2010.dat",sep='\t')

<ipython-input-30-154b624cf57a>:2: DtypeWarning: Columns (18,19,20,21,22,23,24,29,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df1_2n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/nacimientos_2006.dat",sep='\t')
<ipython-input-30-154b624cf57a>:4: DtypeWarning: Columns (16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df1_4n = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ena2008n.dat",sep='\t')

In [31]:
#Unión de datos de nacimientos
df_nacimientos = pd.concat([df1_1n, df1_2n, df1_3n, df1_4n, df1_5n,df1_6n])

In [34]:
df_nacimientos.head()

,ENCUESTA,REG_INSC,PRO_INSC,CAN_INSC,PAR_INSC,ANO_INSC,MES_INSC,ACTA_INS,OFI_INSC,COD_SEXO,...,PAR_INS,MES_INS,OFICINA,LUGAR_OC,TIPO_NAC,HIJ_VIVO,HIJ_VIVM,HIJ_NACM,EST_CIVI,SABE_LEE
0,NVI,5.0,1.0,1.0,50.0,2005.0,1.0,1,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NVI,5.0,1.0,1.0,50.0,2005.0,1.0,2,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NVI,5.0,1.0,1.0,50.0,2005.0,1.0,3,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NVI,5.0,1.0,1.0,50.0,2005.0,1.0,4,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NVI,5.0,1.0,1.0,50.0,2005.0,1.0,5,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2) Breve descripción de datos

Los datos presentados dan información a cerca de nacimientos y defunciones fetales en el Ecuador, desde el año 2005 hasta el año 2010.

### 3) ¿Cuál es el objetivo?

El objetivo es unir características de la madre y su entorno que se encuentran en los datos de defunción y nacimiento, para luego predecir el nacimiento o no de un ser humano en el Ecuador. Así como también encontrar datos reelevantes, como regiones con mayor tasa de defunciones, principales causas de defunciones, relación defunción con el entorno y estado de la madre.

### 4) ¿Este es un problema de clasificación o regresión?

Es un problema de clasificación

### 5) ¿Cuántas características hay?

Los datos de defunciones tienen 44 características y los datos de nacimientos tienen 61 columnas. Para cumplir con el objetivo debemos encontrar columnas en común entre los dos datos, por lo tanto el número de características es alrededor de 44.

## 6) ¿Cuántas filas de datos hay?

In [37]:
df_defunciones.shape

(12108, 44)

In [38]:
df_nacimientos.shape

(2116461, 61)

Debido a que uniremos los datos tanto de defunciones como de nacimientos el número total de defunciones es de 2128569 filas.

## 7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

Los retos son primero la unión de ambos datos, de defunción y nacimientos. Debemos encontrar columnas en común. Además debemos hacer un reemplazo de los códigos que se encuentran en la data con la información real, por ejemplo: en la columna de provincia hay códigos que deben ser reemplazados por la provincia a la que hace referencia el código.

## Conjunto de datos 2 (matrimonio-divorcios)

## 1) Fuente de datos

Los datos de matrimonio y divorcios fueron adquiridos del inec dotados por el banco de información estadistica (https://aplicaciones3.ecuadorencifras.gob.ec/sbi-war/)

In [39]:
#datos matrimonio
df1_1m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/matrimonios_2005.dat",sep='\t')
df1_2m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/matrimonios_2006.dat",sep='\t')
df1_3m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/matrimonios_2007.dat",sep='\t')
df1_4m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/MAT_2008.dat",sep='\t')
df1_5m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/MAT_2009.dat",sep='\t')
df1_6m = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/matrimonio/MAT_2010_SPSS.dat",sep='\t')

In [40]:
#Unión de datos de nacimientos
df_matrimonio = pd.concat([df1_1m, df1_2m, df1_3m, df1_4m, df1_5m,df1_6m])

In [41]:
df_matrimonio.head()

,CODI,PROV,CANT,PARR,ANIO,MES,ACTA,OFICINA,NHIJ_REC,EDAD_HOM,...,PARRHABH,EDAD_MUJ,NMATANTM,ESTCIVIM,NAC_MUJ,NIVELMUJ,PROVHABM,CANTHABM,PARRHABM,CODENC
0,MAT,1,1,50,2005,1,1,1,0,24,...,55,23,0,1,1,3,1,1,70,NaN
1,MAT,1,1,50,2005,1,2,1,2,28,...,50,23,0,1,1,2,1,1,50,NaN
2,MAT,1,1,50,2005,1,3,1,0,19,...,50,25,0,1,1,3,1,1,50,NaN
3,MAT,1,1,50,2005,1,4,1,0,55,...,0,18,0,1,1,3,1,3,50,NaN
4,MAT,1,1,50,2005,1,5,1,0,20,...,50,20,0,1,1,2,1,1,50,NaN

In [42]:
#datos divorcio
df1_1d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/divorcios_2005.dat",sep='\t')
df1_2d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/divorcios_2006.dat",sep='\t')
df1_3d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/divorcios_2007.dat",sep='\t')
df1_4d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/DIV_2008.dat",sep='\t')
df1_5d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/DIV_2009.dat",sep='\t')
df1_6d = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/divorcio/DIV_2010_SPSS.dat",sep='\t')

In [43]:
#Unión de datos de nacimientos
df_divorcio = pd.concat([df1_1d, df1_2d, df1_3d, df1_4d, df1_5d,df1_6d])

In [44]:
df_divorcio.head()

,CODANIO,CODMES,PROV,CANT,PARR,OFICINA,ACTA,ANIODIV,MESDIV,ANIOMAT,...,CANTHABH,PARRHABH,EDADM,HIJOM,INSTM,TRABAJAM,PROVHABM,CANTHABM,PARRHABM,CODI
0,2005,10,9,1,50,1,1734,2005,1,1969,...,1,50,50,0,9,9.0,9,1,50,NaN
1,2005,12,9,1,50,1,2208,2005,1,2004,...,1,50,22,0,9,9.0,9,1,50,NaN
2,2005,5,17,1,50,1,808,2005,3,1991,...,1,50,49,0,5,9.0,17,1,50,NaN
3,2005,4,17,1,50,1,643,2005,3,1978,...,1,50,48,0,6,9.0,17,1,50,NaN
4,2005,7,17,1,50,1,1348,2005,4,2001,...,1,50,34,0,6,9.0,17,1,50,NaN

### 2. Breve descripción de datos:

La base de datos presentada contiene información sobre matrimonios y divorcios en Ecuador.

### 3) ¿Cuál es el objetivo?

El objetivo es predecir el divocio, y sus principales causas tomando en cuenta el lugar y algunas características de una persona.

### 4) ¿Este es un problema de clasificación o regresión?

Es un problema de regresión.

### 5) ¿Cuántas características hay?

Tenemos 36 características

### 6) ¿Cuántas filas de datos hay?

In [45]:
df_matrimonio.shape

(444848, 26)

In [46]:
df_divorcio.shape

(93107, 27)

Hay 537951 filas

### 7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

Los retos son encontrar las variables correctas y la unión de datos de matrimonio y divorcio.